


<div id="body">
  <app-header></app-header>
  <div class="container-fluid ">
    <div class="row ">
      <div class="col-1 col-xxl-1 col-lg-1 col-md-1 col-sm-1 ">
        <app-sidebar></app-sidebar>
      </div>
      <div class=" col-11 col-xxl-11 col-lg-11 col-md-11 col-sm-11  ">
        <!-- col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-0 order-lg-0 -->
        <app-categories></app-categories>
      </div>
      <!-- <div class="col-11 col-xxl-5 col-lg-11 col-md-11 col-sm-11 ">
        <app-orders></app-orders>
      </div> -->
      <!-- <div class="col-12 col-xxl-6 col-lg-12 col-md-12 col-sm-12 order-xxl-1 order-lg-3 order-md-2 order-sm-1 order-1">
       
      </div> -->
    </div>
  </div>
</div>





